@namespace WEB_253504_Frolenko.BlazorWASM.Components
@using WEB_253504_Frolenko.Domain.Entities

@if (SelectedMotorcycle != null)
{
    <div>
        <h3>@SelectedMotorcycle.Name</h3>
        <p>@SelectedMotorcycle.Description</p>
        <img src="@SelectedMotorcycle.ImagePath" alt="Изображение мотоцикла" />
        <p>Категория: @(SelectedMotorcycle.Category?.Name)</p>
        <p>Вес: @SelectedMotorcycle.Weight кг</p>
    </div>
}

@code {
    [Parameter]
    public Motorcycle? SelectedMotorcycle { get; set; }
}
